.header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 2px solid var(--black);

  .header__logo {
    background-image: url(../../img/favicon.ico);
    background-size: cover;
    width: 40px;
    height: 40px;
  }

  .header__menu {
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left: 40px;

    .item {
      border-right: 1px solid black;
      padding-right: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;


      &:hover {
        font-weight: 900;
      }

      &:first-child {
        border-left: 1px solid black;
        padding-left: 18px;
      }
    }
  }

  .header__login {
    display: flex;
    gap: 20px;

    .item {

      &:hover {
        font-weight: 900;
      }

      &:first-child {
        border-right: 1px solid black;
        padding-right: 18px;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;

    .header__menu {
      margin: 0 auto;
    }
  }
}